@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #FFFFFF;
  --foreground: #37352F;
}

.dark {
  --background: #000000;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Inter, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}